<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email ырасталды</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; padding: 50px; }
    h1 { color: green; }
    a { text-decoration: none; color: blue; }
  </style>
</head>
<body>
<h1>Сиздин электрондук почтаңыз ийгиликтүү тастыкталды!</h1>
<p>Жеке аккаунтуңузга кире аласыз.</p>
<a href="https://oku-kg.netlify.app/login">"Кирүү" баракчасына өтүңүз</a>
</body>
</html>